# Part 1

In [ ]:
!pip install pandasql
import requests
import pandas as pd
import token

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.45)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=e73f9c7d9219e3856b3136fdb0067afa05f725bd14491e724e701f4142cc7ea8
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import json
url= 'https://countriesnow.space/api/v0.1/countries/positions'
position = requests.get(url)

data = position.json()
 
# Open a json writer, and use the json.dumps()
# function to dump data
with open('/content/drive/MyDrive/Country_Position.json', 'w', encoding='utf-8') as jsonf:
  jsonf.write(json.dumps(data, indent=4))

In [ ]:
import csv
 
# Opening JSON file and loading the data
# into the variable data
with open('/content/drive/MyDrive/Country_Position.json') as json_file:
    data = json.load(json_file)
 
population = data['data']
 
# now we will open a file for writing
data_file = open('/content/drive/MyDrive/Country_Position.csv', 'w')
 
# create the csv writer object
csv_writer = csv.writer(data_file)
 
# Counter variable used for writing
# headers to the CSV file
count = 0
 
for country in population:
    if count == 0:
 
        # Writing headers of CSV file
        header = country.keys()
        csv_writer.writerow(header)
        count += 1
 
    # Writing data of CSV file
    csv_writer.writerow(country.values())
 
data_file.close()

In [ ]:
url2= 'https://countriesnow.space/api/v0.1/countries/currency'
position2 = requests.get(url2)

data2 = position2.json()

with open('/content/drive/MyDrive/Country Currency.json', 'w', encoding='utf-8') as jsonf:
  jsonf.write(json.dumps(data2, indent=4))

In [ ]:
with open('/content/drive/MyDrive/Country Currency.json') as json_file:
    data = json.load(json_file)
 
population = data['data']
 
# now we will open a file for writing
data_file = open('/content/drive/MyDrive/Country_Currency.csv', 'w')
 
# create the csv writer object
csv_writer = csv.writer(data_file)
 
# Counter variable used for writing
# headers to the CSV file
count = 0
 
for country in population:
    if count == 0:
 
        # Writing headers of CSV file
        header = country.keys()
        csv_writer.writerow(header)
        count += 1
 
    # Writing data of CSV file
    csv_writer.writerow(country.values())
 
data_file.close()

In [ ]:
# if you do not have write access to this path, you will need 
# to change it to a path that you do have write access to.
gdrivePath="/content/drive/MyDrive/"
import sqlite3
import pandas as pd
import os
import pandasql
try:
  os.remove(gdrivePath+"Countries.db") # remove the database if it is already there
  print("removed earlier copy of Countries.db")
except:
  print("not already there")  
# create a connection to a database
conn = sqlite3.connect(gdrivePath+"Countries.db")

not already there

In [ ]:
cursor = conn.cursor()
 
# Table Definition
create_table = '''
CREATE TABLE "Country_Position" (
	"name"	TEXT,
	"iso2"	TEXT,
	"long"	REAL,
	"lat"	REAL,
	PRIMARY KEY("name"),
	FOREIGN KEY("iso2") REFERENCES "Country_Currency"("iso2"),
	FOREIGN KEY("name") REFERENCES "Country_Crime"("Country")
);
'''
 
# Creating the table into our
# database
cursor.execute(create_table)
 
# Opening the person-records.csv file
file0 = open('/content/drive/MyDrive/Country_Position.csv')
# Reading the contents of the
# person-records.csv file
contents = csv.reader(file0)
next(contents)
 
# SQL query to insert data into the
# person table
insert_records = "INSERT INTO Country_Position(name, iso2, long, lat) VALUES(?, ?, ?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records, contents)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM Country_Position"
rows = cursor.execute(select_all).fetchall()
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
conn.commit()

('Afghanistan', 'AF', 65.0, 33.0)
('Albania', 'AL', 20.0, 41.0)
('Algeria', 'DZ', 3.0, 28.0)
('AmericanSamoa', 'AS', -170.0, -14.3333)
('Andorra', 'AD', 1.6, 42.5)
('Angola', 'AO', 18.5, -12.5)
('Anguilla', 'AI', -63.1667, 18.25)
('Antarctica', 'AQ', 0.0, -90.0)
('Antigua and Barbuda', 'AG', -61.8, 17.05)
('Argentina', 'AR', -64.0, -34.0)
('Armenia', 'AM', 45.0, 40.0)
('Aruba', 'AW', -69.9667, 12.5)
('Australia', 'AU', 133.0, -27.0)
('Austria', 'AT', 13.3333, 47.3333)
('Azerbaijan', 'AZ', 47.5, 40.5)
('Bahamas', 'BS', -76.0, 24.25)
('Bahrain', 'BH', 50.55, 26.0)
('Bangladesh', 'BD', 90.0, 24.0)
('Barbados', 'BB', -59.5333, 13.1667)
('Belarus', 'BY', 28.0, 53.0)
('Belgium', 'BE', 4.0, 50.8333)
('Belize', 'BZ', -88.75, 17.25)
('Benin', 'BJ', 2.25, 9.5)
('Bermuda', 'BM', -64.75, 32.3333)
('Bhutan', 'BT', 90.5, 27.5)
('Bolivia, Plurinational State of Bolivia', 'BO', -65.0, -17.0)
('Bosnia and Herzegovina', 'BA', 18.0, 44.0)
('Botswana', 'BW', 24.0, -22.0)
('Bouvet Island', 'BV', 3.4, -54.4333)
('Brazil', 'BR', -55.0, -10.0)
('British Indian Ocean Territory', 'IO', 71.5, -6.0)
('Brunei Darussalam', 'BN', 114.6667, 4.5)
('Bulgaria', 'BG', 25.0, 43.0)
('Burkina Faso', 'BF', -2.0, 13.0)
('Burundi', 'BI', 30.0, -3.5)
('Cambodia', 'KH', 105.0, 13.0)
('Cameroon', 'CM', 12.0, 6.0)
('Canada', 'CA', -95.0, 60.0)
('Cape Verde', 'CV', -24.0, 16.0)
('Cayman Islands', 'KY', -80.5, 19.5)
('Central African Republic', 'CF', 21.0, 7.0)
('Chad', 'TD', 19.0, 15.0)
('Chile', 'CL', -71.0, -30.0)
('China', 'CN', 105.0, 35.0)
('Christmas Island', 'CX', 105.6667, -10.5)
('Cocos (Keeling) Islands', 'CC', 96.8333, -12.5)
('Colombia', 'CO', -72.0, 4.0)
('Comoros', 'KM', 44.25, -12.1667)
('Congo', 'CG', 15.0, -1.0)
('Congo, The Democratic Republic of the', 'CD', 25.0, 0.0)
('Cook Islands', 'CK', -159.7667, -21.2333)
('Costa Rica', 'CR', -84.0, 10.0)
('Ivory Coast', 'CI', -5.0, 8.0)
('Croatia', 'HR', 15.5, 45.1667)
('Cuba', 'CU', -80.0, 21.5)
('Cyprus', 'CY', 33.0, 35.0)
('Czech Republic', 'CZ', 15.5, 49.75)
('Denmark', 'DK', 10.0, 56.0)
('Djibouti', 'DJ', 43.0, 11.5)
('Dominica', 'DM', -61.3333, 15.4167)
('Dominican Republic', 'DO', -70.6667, 19.0)
('Ecuador', 'EC', -77.5, -2.0)
('Egypt', 'EG', 30.0, 27.0)
('El Salvador', 'SV', -88.9167, 13.8333)
('Equatorial Guinea', 'GQ', 10.0, 2.0)
('Eritrea', 'ER', 39.0, 15.0)
('Estonia', 'EE', 26.0, 59.0)
('Ethiopia', 'ET', 38.0, 8.0)
('Falkland Islands', 'FK', -59.0, -51.75)
('Faroe Islands', 'FO', -7.0, 62.0)
('Fiji', 'FJ', 175.0, -18.0)
('Finland', 'FI', 26.0, 64.0)
('France', 'FR', 2.0, 46.0)
('French Polynesia', 'PF', -140.0, -15.0)
('French Southern and Antarctic Lands', 'TF', 67.0, -43.0)
('Gabon', 'GA', 11.75, -1.0)
('Gambia', 'GM', -16.5667, 13.4667)
('Georgia', 'GE', 43.5, 42.0)
('Germany', 'DE', 9.0, 51.0)
('Ghana', 'GH', -2.0, 8.0)
('Gibraltar', 'GI', -5.3667, 36.1833)
('Greece', 'EL', 22.0, 39.0)
('Greenland', 'GL', -40.0, 72.0)
('Grenada', 'GD', -61.6667, 12.1167)
('Guadeloupe', 'GP', -61.5833, 16.25)
('Guam', 'GU', 144.7833, 13.4667)
('Guatemala', 'GT', -90.25, 15.5)
('Guernsey', 'GG', -2.56, 49.5)
('Guinea', 'GN', -10.0, 11.0)
('Guinea-Bissau', 'GW', -15.0, 12.0)
('Guyana', 'GY', -59.0, 5.0)
('Haiti', 'HT', -72.4167, 19.0)
('Heard Island and McDonald Islands', 'HM', 72.5167, -53.1)
('Vatican City State (Holy See)', 'VA', 12.45, 41.9)
('Honduras', 'HN', -86.5, 15.0)
('Hong Kong', 'HK', 114.1667, 22.25)
('Hungary', 'HU', 20.0, 47.0)
('Iceland', 'IS', -18.0, 65.0)
('India', 'IN', 77.0, 20.0)
('Indonesia', 'ID', 120.0, -5.0)
('Iran, Islamic Republic of', 'IR', 53.0, 32.0)
('Iraq', 'IQ', 44.0, 33.0)
('Ireland', 'IE', -8.0, 53.0)
('Isle of Man', 'IM', -4.55, 54.23)
('Israel', 'IL', 34.75, 31.5)
('Italy', 'IT', 12.8333, 42.8333)
('Jamaica', 'JM', -77.5, 18.25)
('Japan', 'JP', 138.0, 36.0)
('Jersey', 'JE', -2.13, 49.21)
('Jordan', 'JO', 36.0, 31.0)
('Kazakhstan', 'KZ', 68.0, 48.0)
('Kenya', 'KE', 38.0, 1.0)
('Kiribati', 'KI', 173.0, 1.4167)
('North Korea', 'KP', 127.0, 40.0)
('South Korea', 'KR', 127.5, 37.0)
('Kuwait', 'KW', 47.6581, 29.3375)
('Kyrgyzstan', 'KG', 75.0, 41.0)
('Laos', 'LA', 105.0, 18.0)
('Latvia', 'LV', 25.0, 57.0)
('Lebanon', 'LB', 35.8333, 33.8333)
('Lesotho', 'LS', 28.5, -29.5)
('Liberia', 'LR', -9.5, 6.5)
('Libyan Arab Jamahiriya', 'LY', 17.0, 25.0)
('Liechtenstein', 'LI', 9.5333, 47.1667)
('Lithuania', 'LT', 24.0, 56.0)
('Luxembourg', 'LU', 6.1667, 49.75)
('Macau', 'MO', 113.55, 22.1667)
('Macedonia, The Former Yugoslav Republic of', 'MK', 22.0, 41.8333)
('Madagascar', 'MG', 47.0, -20.0)
('Malawi', 'MW', 34.0, -13.5)
('Malaysia', 'MY', 112.5, 2.5)
('Maldives', 'MV', 73.0, 3.25)
('Mali', 'ML', -4.0, 17.0)
('Malta', 'MT', 14.5833, 35.8333)
('Marshall Islands', 'MH', 168.0, 9.0)
('Martinique', 'MQ', -61.0, 14.6667)
('Mauritania', 'MR', -12.0, 20.0)
('Mauritius', 'MU', 57.55, -20.2833)
('Mayotte', 'YT', 45.1667, -12.8333)
('Mexico', 'MX', -102.0, 23.0)
('Micronesia, Federated States of', 'FM', 158.25, 6.9167)
('Moldova, Republic of', 'MD', 29.0, 47.0)
('Monaco', 'MC', 7.4, 43.7333)
('Mongolia', 'MN', 105.0, 46.0)
('Montenegro', 'ME', 19.0, 42.0)
('Montserrat', 'MS', -62.2, 16.75)
('Morocco', 'MA', -5.0, 32.0)
('Mozambique', 'MZ', 35.0, -18.25)
('Myanmar', 'MM', 98.0, 22.0)
('Namibia', 'NA', 17.0, -22.0)
('Nauru', 'NR', 166.9167, -0.5333)
('Nepal', 'NP', 84.0, 28.0)
('Netherlands', 'NL', 5.75, 52.5)
('Netherlands Antilles', 'AN', -68.75, 12.25)
('New Caledonia', 'NC', 165.5, -21.5)
('New Zealand', 'NZ', 174.0, -41.0)
('Nicaragua', 'NI', -85.0, 13.0)
('Niger', 'NE', 8.0, 16.0)
('Nigeria', 'NG', 8.0, 10.0)
('Niue', 'NU', -169.8667, -19.0333)
('Norfolk Island', 'NF', 167.95, -29.0333)
('Northern Mariana Islands', 'MP', 145.75, 15.2)
('Norway', 'NO', 10.0, 62.0)
('Oman', 'OM', 57.0, 21.0)
('Pakistan', 'PK', 70.0, 30.0)
('Palau', 'PW', 134.5, 7.5)
('Palestinian Territory, Occupied', 'PS', 35.25, 32.0)
('Panama', 'PA', -80.0, 9.0)
('Papua New Guinea', 'PG', 147.0, -6.0)
('Paraguay', 'PY', -58.0, -23.0)
('Peru', 'PE', -76.0, -10.0)
('Philippines', 'PH', 122.0, 13.0)
('Pitcairn', 'PN', -127.4, -24.7)
('Poland', 'PL', 20.0, 52.0)
('Portugal', 'PT', -8.0, 39.5)
('Puerto Rico', 'PR', -66.5, 18.25)
('Qatar', 'QA', 51.25, 25.5)
('Réunion', 'RE', 55.6, -21.1)
('Romania', 'RO', 25.0, 46.0)
('Russia', 'RU', 100.0, 60.0)
('Rwanda', 'RW', 30.0, -2.0)
('Saint Helena, Ascension and Tristan Da Cunha', 'SH', -5.7, -15.9333)
('Saint Kitts and Nevis', 'KN', -62.75, 17.3333)
('Saint Lucia', 'LC', -61.1333, 13.8833)
('Saint Pierre and Miquelon', 'PM', -56.3333, 46.8333)
('Saint Vincent and the Grenadines', 'VC', -61.2, 13.25)
('Samoa', 'WS', -172.3333, -13.5833)
('San Marino', 'SM', 12.4167, 43.7667)
('Sao Tome and Principe', 'ST', 7.0, 1.0)
('Saudi Arabia', 'SA', 45.0, 25.0)
('Senegal', 'SN', -14.0, 14.0)
('Serbia', 'RS', 21.0, 44.0)
('Seychelles', 'SC', 55.6667, -4.5833)
('Sierra Leone', 'SL', -11.5, 8.5)
('Singapore', 'SG', 103.8, 1.3667)
('Slovakia', 'SK', 19.5, 48.6667)
('Slovenia', 'SI', 15.0, 46.0)
('Solomon Islands', 'SB', 159.0, -8.0)
('Somalia', 'SO', 49.0, 10.0)
('South Africa', 'ZA', 24.0, -29.0)
('South Georgia and the South Sandwich Islands', 'GS', -37.0, -54.5)
('Spain', 'ES', -4.0, 40.0)
('Sri Lanka', 'LK', 81.0, 7.0)
('Sudan', 'SD', 30.0, 15.0)
('Suriname', 'SR', -56.0, 4.0)
('Svalbard and Jan Mayen', 'SJ', 20.0, 78.0)
('Swaziland', 'SZ', 31.5, -26.5)
('Sweden', 'SE', 15.0, 62.0)
('Switzerland', 'CH', 8.0, 47.0)
('Syria', 'SY', 38.0, 35.0)
('Taiwan', 'TW', 121.0, 23.5)
('Tajikistan', 'TJ', 71.0, 39.0)
('Tanzania, United Republic of', 'TZ', 35.0, -6.0)
('Thailand', 'TH', 100.0, 15.0)
('Timor-Leste', 'TL', 125.5167, -8.55)
('Togo', 'TG', 1.1667, 8.0)
('Tokelau', 'TK', -172.0, -9.0)
('Tonga', 'TO', -175.0, -20.0)
('Trinidad and Tobago', 'TT', -61.0, 11.0)
('Tunisia', 'TN', 9.0, 34.0)
('Turkey', 'TR', 35.0, 39.0)
('Turkmenistan', 'TM', 60.0, 40.0)
('Turks and Caicos Islands', 'TC', -71.5833, 21.75)
('Tuvalu', 'TV', 178.0, -8.0)
('Uganda', 'UG', 32.0, 1.0)
('Ukraine', 'UA', 32.0, 49.0)
('United Arab Emirates', 'AE', 54.0, 24.0)
('United Kingdom', 'GB', -2.0, 54.0)
('United States', 'US', -97.0, 38.0)
('United States Minor Outlying Islands', 'UM', 166.6, 19.2833)
('Uruguay', 'UY', -56.0, -33.0)
('Uzbekistan', 'UZ', 64.0, 41.0)
('Vanuatu', 'VU', 167.0, -16.0)
('Venezuela, Bolivarian Republic of', 'VE', -66.0, 8.0)
('Vietnam', 'VN', 106.0, 16.0)
('Virgin Islands, British', 'VG', -64.5, 18.5)
('Virgin Islands, U.S.', 'VI', -64.8333, 18.3333)
('Wallis and Futuna', 'WF', -176.2, -13.3)
('Western Sahara', 'EH', -13.0, 24.5)
('Yemen', 'YE', 48.0, 15.0)
('Zambia', 'ZM', 30.0, -15.0)
('Zimbabwe', 'ZW', 30.0, -20.0)

In [ ]:
create_table = '''
CREATE TABLE "Country_Currency" (
	"name"	TEXT,
	"currency"	TEXT,
	"iso2"	TEXT,
	"iso3"	TEXT,
	PRIMARY KEY("name"),
	FOREIGN KEY("name") REFERENCES "Country_Position"("name"),
	FOREIGN KEY("iso2") REFERENCES "Country_Position"("iso2")
);
'''
 
# Creating the table into our
# database
cursor.execute(create_table)
 
# Opening the person-records.csv file
file1 = open('/content/drive/MyDrive/Country_Currency.csv')
 
# Reading the contents of the
# person-records.csv file
contents1 = csv.reader(file1)
next(contents1)
 
# SQL query to insert data into the
# person table
insert_records1 = "INSERT INTO Country_Currency(name, currency, iso2, iso3) VALUES(?, ?, ?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records1, contents1)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM Country_Currency"
rows = cursor.execute(select_all).fetchall()
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
conn.commit()

('Bangladesh', 'BDT', 'BD', 'BGD')
('Belgium', 'EUR', 'BE', 'BEL')
('Burkina Faso', 'XOF', 'BF', 'BFA')
('Bulgaria', 'BGN', 'BG', 'BGR')
('Bosnia and Herzegovina', 'BAM', 'BA', 'BIH')
('Barbados', 'BBD', 'BB', 'BRB')
('Wallis and Futuna', 'XPF', 'WF', 'WLF')
('Saint Barthelemy', 'EUR', 'BL', 'BLM')
('Bermuda', 'BMD', 'BM', 'BMU')
('Brunei', 'BND', 'BN', 'BRN')
('Bolivia', 'BOB', 'BO', 'BOL')
('Bahrain', 'BHD', 'BH', 'BHR')
('Burundi', 'BIF', 'BI', 'BDI')
('Benin', 'XOF', 'BJ', 'BEN')
('Bhutan', 'BTN', 'BT', 'BTN')
('Jamaica', 'JMD', 'JM', 'JAM')
('Bouvet Island', 'NOK', 'BV', 'BVT')
('Botswana', 'BWP', 'BW', 'BWA')
('Samoa', 'WST', 'WS', 'WSM')
('Bonaire, Saint Eustatius and Saba ', 'USD', 'BQ', 'BES')
('Brazil', 'BRL', 'BR', 'BRA')
('Bahamas', 'BSD', 'BS', 'BHS')
('Jersey', 'GBP', 'JE', 'JEY')
('Belarus', 'BYR', 'BY', 'BLR')
('Belize', 'BZD', 'BZ', 'BLZ')
('Russia', 'RUB', 'RU', 'RUS')
('Rwanda', 'RWF', 'RW', 'RWA')
('Serbia', 'RSD', 'RS', 'SRB')
('Timor-Leste', 'USD', 'TL', 'TLS')
('Réunion', 'EUR', 'RE', 'REU')
('Turkmenistan', 'TMT', 'TM', 'TKM')
('Tajikistan', 'TJS', 'TJ', 'TJK')
('Romania', 'RON', 'RO', 'ROU')
('Tokelau', 'NZD', 'TK', 'TKL')
('Guinea-Bissau', 'XOF', 'GW', 'GNB')
('Guam', 'USD', 'GU', 'GUM')
('Guatemala', 'GTQ', 'GT', 'GTM')
('South Georgia and the South Sandwich Islands', 'GBP', 'GS', 'SGS')
('Greece', 'EUR', 'GR', 'GRC')
('Equatorial Guinea', 'XAF', 'GQ', 'GNQ')
('Guadeloupe', 'EUR', 'GP', 'GLP')
('Japan', 'JPY', 'JP', 'JPN')
('Guyana', 'GYD', 'GY', 'GUY')
('Guernsey', 'GBP', 'GG', 'GGY')
('Georgia', 'GEL', 'GE', 'GEO')
('Grenada', 'XCD', 'GD', 'GRD')
('United Kingdom', 'GBP', 'GB', 'GBR')
('Gabon', 'XAF', 'GA', 'GAB')
('El Salvador', 'USD', 'SV', 'SLV')
('Guinea', 'GNF', 'GN', 'GIN')
('Gambia', 'GMD', 'GM', 'GMB')
('Greenland', 'DKK', 'GL', 'GRL')
('Gibraltar', 'GIP', 'GI', 'GIB')
('Ghana', 'GHS', 'GH', 'GHA')
('Oman', 'OMR', 'OM', 'OMN')
('Tunisia', 'TND', 'TN', 'TUN')
('Jordan', 'JOD', 'JO', 'JOR')
('Croatia', 'HRK', 'HR', 'HRV')
('Haiti', 'HTG', 'HT', 'HTI')
('Hungary', 'HUF', 'HU', 'HUN')
('Hong Kong', 'HKD', 'HK', 'HKG')
('Honduras', 'HNL', 'HN', 'HND')
('Heard Island and McDonald Islands', 'AUD', 'HM', 'HMD')
('Venezuela', 'VEF', 'VE', 'VEN')
('Vatican City State (Holy See)', 'EUR', 'VA', 'VAT')
('Puerto Rico', 'USD', 'PR', 'PRI')
('Palestinian Territory', 'ILS', 'PS', 'PSE')
('Palau', 'USD', 'PW', 'PLW')
('Portugal', 'EUR', 'PT', 'PRT')
('Svalbard and Jan Mayen', 'NOK', 'SJ', 'SJM')
('Paraguay', 'PYG', 'PY', 'PRY')
('Iraq', 'IQD', 'IQ', 'IRQ')
('Panama', 'PAB', 'PA', 'PAN')
('French Polynesia', 'XPF', 'PF', 'PYF')
('Papua New Guinea', 'PGK', 'PG', 'PNG')
('Peru', 'PEN', 'PE', 'PER')
('Pakistan', 'PKR', 'PK', 'PAK')
('Philippines', 'PHP', 'PH', 'PHL')
('Pitcairn', 'NZD', 'PN', 'PCN')
('Poland', 'PLN', 'PL', 'POL')
('Saint Pierre and Miquelon', 'EUR', 'PM', 'SPM')
('Zambia', 'ZMK', 'ZM', 'ZMB')
('Western Sahara', 'MAD', 'EH', 'ESH')
('Estonia', 'EUR', 'EE', 'EST')
('Egypt', 'EGP', 'EG', 'EGY')
('Cocos (Keeling) Islands', 'AUD', 'CC', 'CCK')
('South Africa', 'ZAR', 'ZA', 'ZAF')
('Ecuador', 'USD', 'EC', 'ECU')
('Italy', 'EUR', 'IT', 'ITA')
('Vietnam', 'VND', 'VN', 'VNM')
('Solomon Islands', 'SBD', 'SB', 'SLB')
('Ethiopia', 'ETB', 'ET', 'ETH')
('Somalia', 'SOS', 'SO', 'SOM')
('Zimbabwe', 'ZWL', 'ZW', 'ZWE')
('Saudi Arabia', 'SAR', 'SA', 'SAU')
('Spain', 'EUR', 'ES', 'ESP')
('Eritrea', 'ERN', 'ER', 'ERI')
('Montenegro', 'EUR', 'ME', 'MNE')
('Moldova', 'MDL', 'MD', 'MDA')
('Madagascar', 'MGA', 'MG', 'MDG')
('Saint Martin', 'EUR', 'MF', 'MAF')
('Morocco', 'MAD', 'MA', 'MAR')
('Monaco', 'EUR', 'MC', 'MCO')
('Uzbekistan', 'UZS', 'UZ', 'UZB')
('Myanmar', 'MMK', 'MM', 'MMR')
('Mali', 'XOF', 'ML', 'MLI')
('Macau', 'MOP', 'MO', 'MAC')
('Mongolia', 'MNT', 'MN', 'MNG')
('Marshall Islands', 'USD', 'MH', 'MHL')
('Macedonia', 'MKD', 'MK', 'MKD')
('Mauritius', 'MUR', 'MU', 'MUS')
('Malta', 'EUR', 'MT', 'MLT')
('Malawi', 'MWK', 'MW', 'MWI')
('Maldives', 'MVR', 'MV', 'MDV')
('Martinique', 'EUR', 'MQ', 'MTQ')
('Northern Mariana Islands', 'USD', 'MP', 'MNP')
('Montserrat', 'XCD', 'MS', 'MSR')
('Mauritania', 'MRO', 'MR', 'MRT')
('Isle of Man', 'GBP', 'IM', 'IMN')
('Uganda', 'UGX', 'UG', 'UGA')
('Tanzania', 'TZS', 'TZ', 'TZA')
('Malaysia', 'MYR', 'MY', 'MYS')
('Mexico', 'MXN', 'MX', 'MEX')
('Israel', 'ILS', 'IL', 'ISR')
('France', 'EUR', 'FR', 'FRA')
('British Indian Ocean Territory', 'USD', 'IO', 'IOT')
('Saint Helena', 'SHP', 'SH', 'SHN')
('Finland', 'EUR', 'FI', 'FIN')
('Fiji', 'FJD', 'FJ', 'FJI')
('Falkland Islands', 'FKP', 'FK', 'FLK')
('Micronesia', 'USD', 'FM', 'FSM')
('Faroe Islands', 'DKK', 'FO', 'FRO')
('Nicaragua', 'NIO', 'NI', 'NIC')
('Netherlands', 'EUR', 'NL', 'NLD')
('Norway', 'NOK', 'NO', 'NOR')
('Namibia', 'NAD', 'NA', 'NAM')
('Vanuatu', 'VUV', 'VU', 'VUT')
('New Caledonia', 'XPF', 'NC', 'NCL')
('Niger', 'XOF', 'NE', 'NER')
('Norfolk Island', 'AUD', 'NF', 'NFK')
('Nigeria', 'NGN', 'NG', 'NGA')
('New Zealand', 'NZD', 'NZ', 'NZL')
('Nepal', 'NPR', 'NP', 'NPL')
('Nauru', 'AUD', 'NR', 'NRU')
('Niue', 'NZD', 'NU', 'NIU')
('Cook Islands', 'NZD', 'CK', 'COK')
('Kosovo', 'EUR', 'XK', 'XKX')
('Ivory Coast', 'XOF', 'CI', 'CIV')
('Switzerland', 'CHF', 'CH', 'CHE')
('Colombia', 'COP', 'CO', 'COL')
('China', 'CNY', 'CN', 'CHN')
('Cameroon', 'XAF', 'CM', 'CMR')
('Chile', 'CLP', 'CL', 'CHL')
('Cocos Islands', 'AUD', 'CC', 'CCK')
('Canada', 'CAD', 'CA', 'CAN')
('Congo', 'XAF', 'CG', 'COG')
('Central African Republic', 'XAF', 'CF', 'CAF')
('Democratic Republic of the Congo', 'CDF', 'CD', 'COD')
('Czech Republic', 'CZK', 'CZ', 'CZE')
('Cyprus', 'EUR', 'CY', 'CYP')
('Christmas Island', 'AUD', 'CX', 'CXR')
('Costa Rica', 'CRC', 'CR', 'CRI')
('Curacao', 'ANG', 'CW', 'CUW')
('Cape Verde', 'CVE', 'CV', 'CPV')
('Cuba', 'CUP', 'CU', 'CUB')
('Swaziland', 'SZL', 'SZ', 'SWZ')
('Syria', 'SYP', 'SY', 'SYR')
('Sint Maarten', 'ANG', 'SX', 'SXM')
('Kyrgyzstan', 'KGS', 'KG', 'KGZ')
('Kenya', 'KES', 'KE', 'KEN')
('South Sudan', 'SSP', 'SS', 'SSD')
('Suriname', 'SRD', 'SR', 'SUR')
('Kiribati', 'AUD', 'KI', 'KIR')
('Cambodia', 'KHR', 'KH', 'KHM')
('Saint Kitts and Nevis', 'XCD', 'KN', 'KNA')
('Comoros', 'KMF', 'KM', 'COM')
('Sao Tome and Principe', 'STD', 'ST', 'STP')
('Slovakia', 'EUR', 'SK', 'SVK')
('South Korea', 'KRW', 'KR', 'KOR')
('Slovenia', 'EUR', 'SI', 'SVN')
('North Korea', 'KPW', 'KP', 'PRK')
('Kuwait', 'KWD', 'KW', 'KWT')
('Senegal', 'XOF', 'SN', 'SEN')
('San Marino', 'EUR', 'SM', 'SMR')
('Sierra Leone', 'SLL', 'SL', 'SLE')
('Seychelles', 'SCR', 'SC', 'SYC')
('Kazakhstan', 'KZT', 'KZ', 'KAZ')
('Cayman Islands', 'KYD', 'KY', 'CYM')
('Singapore', 'SGD', 'SG', 'SGP')
('Sweden', 'SEK', 'SE', 'SWE')
('Sudan', 'SDG', 'SD', 'SDN')
('Dominican Republic', 'DOP', 'DO', 'DOM')
('Dominica', 'XCD', 'DM', 'DMA')
('Djibouti', 'DJF', 'DJ', 'DJI')
('Denmark', 'DKK', 'DK', 'DNK')
('British Virgin Islands', 'USD', 'VG', 'VGB')
('Germany', 'EUR', 'DE', 'DEU')
('Yemen', 'YER', 'YE', 'YEM')
('Algeria', 'DZD', 'DZ', 'DZA')
('United States', 'USD', 'US', 'USA')
('Uruguay', 'UYU', 'UY', 'URY')
('Mayotte', 'EUR', 'YT', 'MYT')
('United States Minor Outlying Islands', 'USD', 'UM', 'UMI')
('Lebanon', 'LBP', 'LB', 'LBN')
('Saint Lucia', 'XCD', 'LC', 'LCA')
('Laos', 'LAK', 'LA', 'LAO')
('Tuvalu', 'AUD', 'TV', 'TUV')
('Taiwan', 'TWD', 'TW', 'TWN')
('Trinidad and Tobago', 'TTD', 'TT', 'TTO')
('Turkey', 'TRY', 'TR', 'TUR')
('Sri Lanka', 'LKR', 'LK', 'LKA')
('Liechtenstein', 'CHF', 'LI', 'LIE')
('Latvia', 'EUR', 'LV', 'LVA')
('Tonga', 'TOP', 'TO', 'TON')
('Lithuania', 'LTL', 'LT', 'LTU')
('Luxembourg', 'EUR', 'LU', 'LUX')
('Liberia', 'LRD', 'LR', 'LBR')
('Lesotho', 'LSL', 'LS', 'LSO')
('Thailand', 'THB', 'TH', 'THA')
('French Southern Territories', 'EUR', 'TF', 'ATF')
('Togo', 'XOF', 'TG', 'TGO')
('Chad', 'XAF', 'TD', 'TCD')
('Turks and Caicos Islands', 'USD', 'TC', 'TCA')
('Libya', 'LYD', 'LY', 'LBY')
('Vatican', 'EUR', 'VA', 'VAT')
('Saint Vincent and the Grenadines', 'XCD', 'VC', 'VCT')
('United Arab Emirates', 'AED', 'AE', 'ARE')
('Andorra', 'EUR', 'AD', 'AND')
('Antigua and Barbuda', 'XCD', 'AG', 'ATG')
('Afghanistan', 'AFN', 'AF', 'AFG')
('Anguilla', 'XCD', 'AI', 'AIA')
('U.S. Virgin Islands', 'USD', 'VI', 'VIR')
('Iceland', 'ISK', 'IS', 'ISL')
('Iran', 'IRR', 'IR', 'IRN')
('Armenia', 'AMD', 'AM', 'ARM')
('Albania', 'ALL', 'AL', 'ALB')
('Angola', 'AOA', 'AO', 'AGO')
('Antarctica', '', 'AQ', 'ATA')
('American Samoa', 'USD', 'AS', 'ASM')
('Argentina', 'ARS', 'AR', 'ARG')
('Australia', 'AUD', 'AU', 'AUS')
('Austria', 'EUR', 'AT', 'AUT')
('Aruba', 'AWG', 'AW', 'ABW')
('India', 'INR', 'IN', 'IND')
('Aland Islands', 'EUR', 'AX', 'ALA')
('Azerbaijan', 'AZN', 'AZ', 'AZE')
('Ireland', 'EUR', 'IE', 'IRL')
('Indonesia', 'IDR', 'ID', 'IDN')
('Ukraine', 'UAH', 'UA', 'UKR')
('Qatar', 'QAR', 'QA', 'QAT')
('Mozambique', 'MZN', 'MZ', 'MOZ')

In [ ]:
create_table = '''
CREATE TABLE "Country_Crime" (
	"Country"	TEXT,
	"CrimeIndex"	REAL,
	"SafetyIndex"	REAL,
	PRIMARY KEY("Country"),
	FOREIGN KEY("Country") REFERENCES "Country_Position"("name")
);
'''
 
# Creating the table into our
# database
cursor.execute(create_table)
 
# Opening the person-records.csv file
file2 = open('/content/drive/MyDrive/Country_Crime.csv')
 
# Reading the contents of the
# person-records.csv file
contents2 = csv.reader(file2)
next(contents2)
 
# SQL query to insert data into the
# person table
insert_records2 = "INSERT INTO Country_Crime (Country, CrimeIndex, SafetyIndex) VALUES(?, ?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records2, contents2)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM Country_Crime"
rows = cursor.execute(select_all).fetchall()
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
conn.commit()

('Venezuela', 84.49, 15.51)
('Papua New Guinea', 81.93, 18.07)
('South Africa', 77.49, 22.51)
('Afghanistan', 76.23, 23.77)
('Honduras', 76.11, 23.89)
('Trinidad And Tobago', 73.19, 26.81)
('Brazil', 68.88, 31.12)
('Peru', 68.15, 31.85)
('El Salvador', 67.96, 32.04)
('Guyana', 67.66, 32.34)
('Namibia', 67.21, 32.79)
('Syria', 66.46, 33.54)
('Jamaica', 66.04, 33.96)
('Puerto Rico', 65.63, 34.37)
('Angola', 64.97, 35.03)
('Bangladesh', 63.94, 36.06)
('Nigeria', 63.77, 36.23)
('Bahamas', 62.86, 37.14)
('Libya', 62.19, 37.81)
('Kazakhstan', 62.02, 37.98)
('Argentina', 61.77, 38.23)
('Kenya', 61.66, 38.34)
('Dominican Republic', 61.16, 38.84)
('Uganda', 59.0, 41.0)
('Tanzania', 58.95, 41.05)
('Fiji', 58.92, 41.08)
('Malaysia', 58.84, 41.16)
('Somalia', 58.5, 41.5)
('Mongolia', 57.97, 42.03)
('Guatemala', 57.83, 42.17)
('Zimbabwe', 57.47, 42.53)
('Costa Rica', 56.33, 43.67)
('Colombia', 54.79, 45.21)
('Mexico', 53.97, 46.03)
('Uruguay', 53.81, 46.19)
('Botswana', 53.49, 46.51)
('Maldives', 53.21, 46.79)
('Bolivia', 52.93, 47.07)
('Ecuador', 50.9, 49.1)
('Cambodia', 50.66, 49.34)
('Algeria', 49.81, 50.19)
('Paraguay', 49.6, 50.4)
('Iran', 49.25, 50.75)
('Ethiopia', 49.21, 50.79)
('Ghana', 48.97, 51.03)
('Ukraine', 48.85, 51.15)
('Morocco', 48.69, 51.31)
('Iraq', 47.78, 52.22)
('Mauritius', 47.33, 52.67)
('United States', 47.2, 52.8)
('Panama', 47.19, 52.81)
('Sweden', 47.07, 52.93)
('Egypt', 46.92, 53.08)
('France', 46.79, 53.21)
('Myanmar', 45.86, 54.14)
('Indonesia', 45.84, 54.16)
('Ireland', 45.43, 54.57)
('Vietnam', 45.35, 54.65)
('Chile', 45.23, 54.77)
('Moldova', 44.98, 55.02)
('Nicaragua', 44.44, 55.56)
('Italy', 44.26, 55.74)
('Pakistan', 44.08, 55.92)
('Belgium', 43.98, 56.02)
('United Kingdom', 43.71, 56.29)
('Palestine', 43.59, 56.41)
('Lebanon', 43.36, 56.64)
('India', 43.32, 56.68)
('Bosnia And Herzegovina', 43.03, 56.97)
('Philippines', 42.16, 57.84)
('Tunisia', 41.88, 58.12)
('Australia', 41.36, 58.64)
('Montenegro', 41.18, 58.82)
('Russia', 41.12, 58.88)
('New Zealand', 40.93, 59.07)
('Jordan', 40.83, 59.17)
('Thailand', 40.48, 59.52)
('Greece', 40.32, 59.68)
('Sri Lanka', 40.22, 59.78)
('Canada', 39.67, 60.33)
('Albania', 39.52, 60.48)
('Turkey', 39.49, 60.51)
('Malta', 39.04, 60.96)
('North Macedonia', 38.67, 61.33)
('Bulgaria', 38.5, 61.5)
('Serbia', 37.41, 62.59)
('Latvia', 36.95, 63.05)
('Norway', 35.43, 64.57)
('Hungary', 35.08, 64.92)
('Germany', 34.81, 65.19)
('Kuwait', 34.75, 65.25)
('Nepal', 34.56, 65.44)
('Luxembourg', 33.39, 66.61)
('Lithuania', 33.06, 66.94)
('Kosovo (Disputed Territory)', 32.91, 67.09)
('Spain', 31.96, 68.04)
('China', 31.83, 68.17)
('Azerbaijan', 31.61, 68.39)
('Singapore', 30.57, 69.43)
('Cyprus', 30.01, 69.99)
('Portugal', 29.63, 70.37)
('Israel', 29.6, 70.4)
('Bahrain', 29.29, 70.71)
('Slovakia', 29.22, 70.78)
('Poland', 28.5, 71.5)
('South Korea', 28.02, 71.98)
('Brunei', 27.68, 72.32)
('Romania', 27.64, 72.36)
('Netherlands', 27.62, 72.38)
('Cuba', 27.45, 72.55)
('Saudi Arabia', 26.18, 73.82)
('Czech Republic', 25.52, 74.48)
('Denmark', 25.1, 74.9)
('Belarus', 24.99, 75.01)
('Croatia', 24.71, 75.29)
('Austria', 23.73, 76.27)
('Iceland', 23.36, 76.64)
('Finland', 23.32, 76.68)
('Estonia', 23.14, 76.86)
('Armenia', 21.6, 78.4)
('Switzerland', 21.6, 78.4)
('Slovenia', 21.07, 78.93)
('Oman', 20.79, 79.21)
('Hong Kong', 20.7, 79.3)
('Japan', 20.66, 79.34)
('Georgia', 20.21, 79.79)
('United Arab Emirates', 15.7, 84.3)
('Taiwan', 15.65, 84.35)
('Qatar', 11.86, 88.14)

In [ ]:
create_table = '''
CREATE TABLE "Country_CostOfLiving" (
	"Country"	TEXT,
	"CostofLivingIndex"	INTEGER,
	"RentIndex"	REAL,
	"CostofLivingPlusRentIndex"	REAL,
	"GroceriesIndex"	REAL,
	"RestaurantPriceIndex"	REAL,
	"LocalPurchasingPowerIndex"	REAL,
	PRIMARY KEY("Country"),
	FOREIGN KEY("Country") REFERENCES "Country_Position"("name")
);
'''
 
# Creating the table into our
# database
cursor.execute(create_table)
 
# Opening the person-records.csv file
file3 = open('/content/drive/MyDrive/Country_CostOfLiving.csv')
 
# Reading the contents of the
# person-records.csv file
contents3 = csv.reader(file3)
next(contents3)
 
# SQL query to insert data into the
# person table
insert_records3 = "INSERT INTO Country_CostOfLiving (Country, CostofLivingIndex, RentIndex, CostofLivingPlusRentIndex, GroceriesIndex, RestaurantPriceIndex, LocalPurchasingPowerIndex) VALUES(?, ?, ?, ?, ?, ?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records3, contents3)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM Country_CostOfLiving"
rows = cursor.execute(select_all).fetchall()
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
conn.commit()

('Switzerland', 122.4, 50.25, 87.89, 120.27, 123.01, 119.53)
('Norway', 101.43, 36.15, 70.21, 91.14, 109.28, 88.38)
('Iceland', 100.48, 46.95, 74.88, 86.89, 113.74, 79.44)
('Japan', 83.35, 25.97, 55.9, 81.82, 48.95, 87.28)
('Denmark', 83, 31.92, 58.57, 61.74, 100.75, 100.88)
('Bahamas', 82.51, 36.36, 60.43, 62.65, 83.66, 54.18)
('Luxembourg', 81.89, 54.92, 68.99, 69.1, 89.85, 103.92)
('Israel', 81.15, 31.33, 57.32, 66.31, 88.65, 78.09)
('Singapore', 81.1, 63.27, 72.58, 66.75, 58.99, 88.96)
('South Korea', 78.18, 22.86, 51.72, 91.31, 44.87, 85.21)
('Hong Kong', 77.22, 79.57, 78.35, 75.94, 54.36, 65.32)
('Barbados', 76.02, 19.7, 49.08, 65.2, 68.14, 51.1)
('Ireland', 75.91, 43.88, 60.59, 58.35, 81.24, 80.88)
('France', 74.14, 25.39, 50.82, 67.9, 72.54, 80.36)
('Netherlands', 73.75, 35.18, 55.3, 55.87, 80.48, 90.73)
('Australia', 73.54, 34.86, 55.04, 67.23, 70.32, 107.31)
('New Zealand', 72.53, 32.09, 53.19, 64.69, 68.8, 92.66)
('Belgium', 71.78, 25.43, 49.61, 58.66, 80.14, 86.28)
('Seychelles', 71.59, 32.34, 52.81, 64.61, 84.86, 21.67)
('United States', 71.05, 40.32, 56.36, 66.61, 70.74, 109.52)
('Austria', 70.38, 26.81, 49.54, 61.73, 68.09, 82.38)
('Finland', 70.29, 26.16, 49.18, 56.52, 76.81, 99.93)
('Sweden', 69.85, 25.9, 48.83, 60.47, 72.35, 101.73)
('Canada', 67.62, 30.73, 49.98, 63.68, 63.53, 95.09)
('Puerto Rico', 67.54, 19.29, 44.46, 65.76, 58.68, 79.38)
('Malta', 67.46, 31.04, 50.04, 54.9, 75.94, 46.32)
('United Kingdom', 67.28, 29.85, 49.38, 51.27, 74.13, 91.73)
('Italy', 67.26, 21.22, 45.24, 55.44, 72.32, 65.59)
('Germany', 65.26, 27.06, 46.99, 49.23, 61.58, 102.36)
('Macao', 64.84, 43.98, 54.87, 62.0, 43.37, 80.9)
('Qatar', 64.04, 47.44, 56.1, 53.61, 66.83, 111.69)
('United Arab Emirates', 61.98, 41.07, 51.98, 47.63, 61.32, 91.58)
('Taiwan', 61.37, 16.42, 39.87, 71.51, 28.49, 65.67)
('Lebanon', 60.5, 24.54, 43.3, 43.92, 58.16, 44.47)
('Bahrain', 58.94, 30.95, 45.55, 48.11, 54.55, 57.88)
('Cyprus', 57.93, 20.54, 40.05, 44.21, 63.11, 57.41)
('Jamaica', 57.82, 15.25, 37.46, 58.96, 38.12, 32.37)
('Greece', 55.67, 11.68, 34.62, 41.63, 53.74, 43.68)
('Zimbabwe', 55.3, 11.02, 34.12, 50.8, 40.79, 26.03)
('Palestine', 54.54, 8.83, 32.68, 46.67, 38.93, 46.91)
('Ethiopia', 54.39, 20.9, 38.37, 36.3, 19.37, 8.34)
('Panama', 54.16, 24.76, 40.09, 53.03, 47.27, 34.23)
('Costa Rica', 53.98, 15.55, 35.6, 49.6, 43.51, 42.61)
('Spain', 53.77, 21.77, 38.46, 42.38, 52.07, 72.03)
('Trinidad And Tobago', 53.7, 17.26, 36.27, 49.43, 49.83, 45.7)
('Jordan', 53.67, 11.54, 33.52, 43.32, 47.12, 34.88)
('Slovenia', 53.43, 17.09, 36.05, 43.76, 45.43, 66.31)
('Mauritius', 53.04, 11.99, 33.41, 48.94, 43.96, 30.88)
('Uruguay', 51.04, 14.43, 33.53, 40.12, 47.41, 37.46)
('Estonia', 50.93, 15.41, 33.94, 36.57, 52.94, 71.3)
('Kuwait', 50.37, 31.21, 41.21, 34.68, 47.08, 85.59)
('Thailand', 49.77, 17.1, 34.14, 49.2, 24.9, 35.45)
('Croatia', 49.7, 13.5, 32.38, 39.9, 42.44, 50.42)
('Portugal', 49.52, 21.81, 36.27, 38.14, 42.48, 49.43)
('Oman', 49.28, 17.98, 34.31, 43.5, 44.26, 80.97)
('Belize', 49.23, 9.74, 30.34, 41.89, 37.05, 57.53)
('Saudi Arabia', 48.34, 11.39, 30.67, 37.89, 33.51, 100.0)
('Latvia', 47.94, 12.34, 30.91, 34.85, 42.88, 52.48)
('Cambodia', 47.49, 14.9, 31.9, 44.56, 25.19, 11.29)
('Fiji', 47.48, 18.55, 33.64, 52.67, 35.87, 33.17)
('Czech Republic', 46.15, 19.56, 33.43, 38.13, 34.1, 62.82)
('El Salvador', 45.57, 13.48, 30.22, 43.67, 34.8, 24.71)
('Brunei', 44.71, 23.08, 34.36, 37.11, 38.06, 86.95)
('Nicaragua', 44.56, 7.61, 26.88, 41.71, 31.41, 23.92)
('Slovakia', 44.46, 16.11, 30.9, 37.51, 33.82, 56.94)
('Lithuania', 44.28, 13.65, 29.63, 33.63, 42.7, 57.85)
('Dominican Republic', 44.06, 10.62, 28.06, 35.93, 38.27, 23.95)
('Chile', 43.62, 13.39, 29.16, 36.45, 41.57, 42.5)
('Cuba', 43.46, 4.84, 24.99, 37.4, 30.95, 2.18)
('Suriname', 43.14, 7.79, 26.23, 45.78, 34.98, 22.39)
('Namibia', 43.1, 16.12, 30.19, 36.8, 39.22, 55.65)
('South Africa', 42.87, 16.61, 30.31, 33.29, 40.58, 73.61)
('Guatemala', 42.7, 15.29, 29.59, 37.41, 33.0, 39.83)
('Honduras', 42.17, 10.6, 27.07, 33.33, 30.55, 30.26)
('Myanmar', 42.11, 23.78, 33.35, 44.68, 19.04, 10.22)
('Ecuador', 40.98, 11.96, 27.1, 35.46, 30.66, 36.08)
('Hungary', 40.85, 13.97, 27.99, 30.77, 34.46, 47.55)
('Brazil', 40.22, 10.65, 26.08, 29.2, 30.78, 32.81)
('Kenya', 40.21, 10.73, 26.11, 35.35, 35.06, 27.32)
('China', 40.04, 16.38, 28.72, 40.37, 29.16, 60.88)
('Poland', 40.04, 15.67, 28.38, 30.55, 33.45, 59.61)
('Russia', 39.21, 11.36, 25.89, 31.08, 39.61, 38.94)
('Botswana', 39.13, 11.12, 25.73, 31.74, 39.98, 58.1)
('Malaysia', 39.12, 11.0, 25.67, 37.58, 22.94, 64.49)
('Iraq', 39.04, 11.28, 25.76, 31.85, 32.72, 42.43)
('Iran', 39.01, 14.48, 27.28, 35.54, 25.12, 22.69)
('Somalia', 38.68, 4.75, 22.45, 45.88, 27.04, 33.24)
('Peru', 38.65, 12.78, 26.28, 33.8, 24.69, 33.95)
('Vietnam', 38.34, 13.57, 26.5, 37.06, 19.59, 28.14)
('Montenegro', 38.23, 10.38, 24.91, 28.63, 33.16, 39.8)
('Ghana', 37.65, 19.41, 28.93, 37.17, 26.59, 14.66)
('Philippines', 37.63, 9.0, 23.94, 33.46, 20.84, 23.48)
('Indonesia', 37.27, 10.62, 24.52, 37.36, 18.25, 25.05)
('Bulgaria', 36.7, 9.64, 23.75, 30.09, 29.14, 49.37)
('Albania', 36.39, 8.55, 23.07, 28.39, 26.75, 29.56)
('Bosnia And Herzegovina', 35.97, 6.72, 21.97, 28.08, 25.1, 41.83)
('Mexico', 35.72, 11.46, 24.11, 32.39, 32.12, 41.81)
('Serbia', 35.72, 9.08, 22.98, 25.46, 28.63, 36.72)
('Romania', 35.31, 10.05, 23.22, 29.03, 30.5, 48.86)
('Tanzania', 35.25, 14.04, 25.11, 29.66, 22.57, 17.58)
('Belarus', 34.7, 10.5, 23.13, 28.06, 38.94, 37.0)
('Turkey', 34.69, 6.78, 21.34, 29.76, 24.16, 40.85)
('Bolivia', 34.56, 10.93, 23.26, 28.09, 25.11, 39.34)
('Morocco', 34.32, 8.94, 22.18, 30.11, 24.5, 35.25)
('Moldova', 33.7, 8.4, 21.6, 25.96, 27.79, 27.57)
('Rwanda', 33.35, 11.88, 23.08, 26.83, 29.17, 19.32)
('Ukraine', 33.18, 10.46, 22.31, 26.01, 26.42, 31.8)
('Argentina', 32.95, 8.33, 21.17, 25.82, 30.52, 47.22)
('Armenia', 32.84, 10.91, 22.35, 25.61, 30.43, 28.0)
('Bangladesh', 32.25, 5.01, 19.22, 29.72, 19.21, 33.21)
('Zambia', 31.72, 7.39, 20.08, 26.86, 22.07, 54.14)
('Sri Lanka', 31.61, 7.74, 20.2, 35.09, 18.76, 24.45)
('North Macedonia', 31.59, 6.49, 19.58, 24.94, 23.31, 37.15)
('Paraguay', 31.1, 9.66, 20.85, 25.03, 25.01, 32.6)
('Nigeria', 31, 23.59, 27.45, 31.15, 17.71, 13.52)
('Colombia', 30.66, 9.58, 20.58, 25.05, 22.44, 31.12)
('Kazakhstan', 30.64, 9.78, 20.66, 24.31, 29.87, 38.36)
('Uganda', 30.18, 10.15, 20.6, 25.25, 22.14, 20.5)
('Algeria', 30.1, 5.34, 18.26, 30.71, 15.89, 28.69)
('Azerbaijan', 29.92, 9.48, 20.15, 23.74, 30.36, 30.2)
('Egypt', 29.54, 5.49, 18.04, 25.5, 23.53, 22.41)
('Nepal', 29.05, 4.77, 17.44, 24.91, 20.36, 21.9)
('Georgia', 28.48, 9.8, 19.54, 23.05, 26.66, 24.88)
('Kosovo (Disputed Territory)', 28.47, 8.47, 18.91, 26.53, 21.04, 48.9)
('Venezuela', 27.17, 6.81, 17.43, 28.29, 24.41, 2.61)
('Tunisia', 27.04, 5.51, 16.74, 25.25, 14.95, 34.45)
('Kyrgyzstan', 26.97, 9.18, 18.46, 23.39, 21.45, 24.98)
('Uzbekistan', 26.01, 7.54, 17.18, 21.59, 20.17, 24.31)
('Syria', 25.31, 5.68, 15.92, 22.42, 21.38, 11.46)
('India', 24.58, 5.68, 15.54, 24.55, 17.17, 54.3)
('Afghanistan', 24.24, 4.03, 14.58, 17.7, 17.38, 28.2)
('Pakistan', 21.98, 4.59, 13.66, 19.08, 16.78, 30.57)

# Part 2

In [ ]:
import requests

url = 'https://query.wikidata.org/sparql'
query = '''
SELECT DISTINCT ?country ?countryLabel
{
  ?country wdt:P31 wd:Q6256 ;
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en"  }
}
'''
r = requests.get(url, params = {'format': 'json', 'query': query})
data = r.json()

In [ ]:
from google.colab import  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from pandas.core.frame import treat_as_nested
df = pd.json_normalize(data['results']['bindings'])
df = df.drop(columns=['country.type', 'countryLabel.type', 'countryLabel.xml:lang'], axis=1)
df = df.rename(columns={"countryLabel.value": "Country", "country.value": "Identifier"})
df['Identifier'] = df['Identifier'].str.replace('http?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+/', ' ', regex=True)
df = df.iloc[:,[1,0]]
df

                        Country   Identifier
0                       L721717      L721717
1                         Chile         Q298
2                       Bahrain         Q398
3                       Vanuatu         Q686
4                         Nauru         Q697
..                          ...          ...
193                    Maldives         Q826
194                       Reman   Q115166787
195                 South Sudan         Q958
196    Northern Mariana Islands       Q16644
197  Kingdom of the Netherlands       Q29999

[198 rows x 2 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/SPARQL_Country_Identifier.csv',index=False, header=None)

In [ ]:
create_table = '''
CREATE TABLE "SPARQL_Country_Identifier" (
  "Country"	TEXT,
	"Identifier"	TEXT,
	FOREIGN KEY("Country") REFERENCES "Country_Position"("name"),
	PRIMARY KEY("Country")
);
'''
 
# Creating the table into our
# database
cursor.execute(create_table)
 
# Opening the person-records.csv file
file4 = open('/content/drive/MyDrive/SPARQL_Country_Identifier.csv')
 
# Reading the contents of the
# person-records.csv file
contents4 = csv.reader(file4)
 
# SQL query to insert data into the
# person table
insert_records4 = "INSERT INTO SPARQL_Country_Identifier(Country, Identifier) VALUES(?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records4, contents4)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM SPARQL_Country_Identifier"
rows = cursor.execute(select_all).fetchall()
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
conn.commit()

('L721717', ' L721717')
('Chile', ' Q298')
('Bahrain', ' Q398')
('Vanuatu', ' Q686')
('Nauru', ' Q697')
('Portugal', ' Q45')
('Brazil', ' Q155')
("People's Republic of China", ' Q148')
('Germany', ' Q183')
('Malta', ' Q233')
('Tuvalu', ' Q672')
('Mexico', ' Q96')
('Romania', ' Q218')
('Turkey', ' Q43')
('Finland', ' Q33')
('Cuba', ' Q241')
('Wales', ' Q25')
('Estonia', ' Q191')
('Australia', ' Q408')
('Austria', ' Q40')
('Uruguay', ' Q77')
('New Zealand', ' Q664')
('Switzerland', ' Q39')
('Peru', ' Q419')
('Dominica', ' Q784')
('Argentina', ' Q414')
('Albania', ' Q222')
('Belarus', ' Q184')
('Jamaica', ' Q766')
('Italy', ' Q38')
('Hungary', ' Q28')
('Bulgaria', ' Q219')
('Ecuador', ' Q736')
('Paraguay', ' Q733')
('Kenya', ' Q114')
('Netherlands', ' Q55')
('France', ' Q142')
('Bolivia', ' Q750')
('Samoa', ' Q683')
('Sweden', ' Q34')
('Chad', ' Q657')
('India', ' Q668')
('Denmark', ' Q35')
('Greece', ' Q41')
('Honduras', ' Q783')
('Grenada', ' Q769')
('Montenegro', ' Q236')
('Venezuela', ' Q717')
('Japan', ' Q17')
('Czech Republic', ' Q213')
('Egypt', ' Q79')
('Canada', ' Q16')
('Norway', ' Q20')
('Colombia', ' Q739')
('Guatemala', ' Q774')
('Poland', ' Q36')
('Bahamas', ' Q778')
('Cambodia', ' Q424')
('South Africa', ' Q258')
('Trinidad and Tobago', ' Q754')
('Slovakia', ' Q214')
('United Kingdom', ' Q145')
('Slovenia', ' Q215')
('Cyprus', ' Q229')
('Latvia', ' Q211')
('Lithuania', ' Q37')
('Croatia', ' Q224')
('Haiti', ' Q790')
('Armenia', ' Q399')
('Andorra', ' Q228')
('Saint Lucia', ' Q760')
('El Salvador', ' Q792')
('Russia', ' Q159')
('Papua New Guinea', ' Q691')
('Singapore', ' Q334')
('Dominican Republic', ' Q786')
('Mongolia', ' Q711')
('Indonesia', ' Q252')
('Kazakhstan', ' Q232')
('Iceland', ' Q189')
('Ethiopia', ' Q115')
('Solomon Islands', ' Q685')
('Liechtenstein', ' Q347')
('Palau', ' Q695')
('Algeria', ' Q262')
('Federated States of Micronesia', ' Q702')
('Kiribati', ' Q710')
('United States of America', ' Q30')
('Guyana', ' Q734')
('Fiji', ' Q712')
('East Timor', ' Q574')
('Marshall Islands', ' Q709')
('Uzbekistan', ' Q265')
('Azerbaijan', ' Q227')
('Antigua and Barbuda', ' Q781')
('Republic of Ireland', ' Q27')
('Ghana', ' Q117')
('Saint Vincent and the Grenadines', ' Q757')
('North Korea', ' Q423')
('Saint Kitts and Nevis', ' Q763')
('Portuguese Malacca', ' Q2988343')
('Transnistria', ' Q907112')
('British North Borneo', ' Q1147441')
('Republic of Artsakh', ' Q244165')
('Kingdom of Denmark', ' Q756617')
('Hatay State', ' Q146761')
('United States of the Ionian Islands', ' Q1063498')
('Garðaríki', ' Q1415162')
('misl', ' Q2578028')
('Kingdom of Valencia', ' Q142417')
('Kherson State', ' Q114318324')
('Zaporozhye State', ' Q114318415')
('Israel', ' Q801')
('Laos', ' Q819')
('Tajikistan', ' Q863')
('Thailand', ' Q869')
('United Arab Emirates', ' Q878')
('Angola', ' Q916')
('Mali', ' Q912')
('Sierra Leone', ' Q1044')
('Sudan', ' Q1049')
('Galicia', ' Q3908')
('Somalia', ' Q1045')
('Jordan', ' Q810')
('Taiwan', ' Q865')
('Eritrea', ' Q986')
('Djibouti', ' Q977')
('Lebanon', ' Q822')
('Afghanistan', ' Q889')
('Bangladesh', ' Q902')
('Namibia', ' Q1030')
('Nicaragua', ' Q811')
('Burkina Faso', ' Q965')
('Morocco', ' Q1028')
('Pakistan', ' Q843')
('Oman', ' Q842')
('Republic of the Congo', ' Q971')
('Nigeria', ' Q1033')
('Syria', ' Q858')
('Costa Rica', ' Q800')
('South Korea', ' Q884')
('Iraq', ' Q796')
('Qatar', ' Q846')
('Liberia', ' Q1014')
('Nepal', ' Q837')
('Uganda', ' Q1036')
('Iran', ' Q794')
('Tunisia', ' Q948')
('Sint Maarten', ' Q26273')
('Niger', ' Q1032')
('Yemen', ' Q805')
('Cameroon', ' Q1009')
('Catalonia', ' Q5705')
('Aruba', ' Q21203')
('Benin', ' Q962')
('Lesotho', ' Q1013')
('Togo', ' Q945')
('Seychelles', ' Q1042')
('Malawi', ' Q1020')
('Myanmar', ' Q836')
('Vietnam', ' Q881')
('Rwanda', ' Q1037')
('Madagascar', ' Q1019')
('Sri Lanka', ' Q854')
('Libya', ' Q1016')
('Senegal', ' Q1041')
('Mauritania', ' Q1025')
('Bhutan', ' Q917')
('Saudi Arabia', ' Q851')
('Central African Republic', ' Q929')
('Guinea', ' Q1006')
('Guinea-Bissau', ' Q1007')
('Kosovo', ' Q1246')
('The Gambia', ' Q1005')
('Comoros', ' Q970')
('Turkmenistan', ' Q874')
('Philippines', ' Q928')
('Cape Verde', ' Q1011')
('Botswana', ' Q963')
('Zimbabwe', ' Q954')
('Burundi', ' Q967')
('Mozambique', ' Q1029')
('Somaliland', ' Q34754')
('Brunei', ' Q921')
('São Tomé and Príncipe', ' Q1039')
('Ivory Coast', ' Q1008')
('Tanzania', ' Q924')
('Democratic Republic of the Congo', ' Q974')
('Cook Islands', ' Q26988')
('Mosquitia', ' Q6037274')
('Zambia', ' Q953')
('Kyrgyzstan', ' Q813')
('Niue', ' Q34020')
('Maldives', ' Q826')
('Reman', ' Q115166787')
('South Sudan', ' Q958')
('Northern Mariana Islands', ' Q16644')
('Kingdom of the Netherlands', ' Q29999')